html, body {
  margin: 0;
	height: 100%;
	width: 100%;
	min-width: 40%;
	min-height: 40%;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 300;
}

#red-button {
	background-color: red;
	border-radius: 0 100% 0 0;
	border-top: 26px solid black;
	border-right: 26px solid black;
	border-bottom: 13px solid black;
  border-left: 13px solid black;
}

#yellow-button {
	background-color: yellow;
	border-radius: 0 0 0 100%;
	border-top: 13px solid black;
	border-left: 26px solid black;
	border-right: 13px solid black;
  border-bottom: 26px solid black;
}
#blue-button {
	background-color: lightblue;
	border-radius: 0 0 100% 0;
  border-top: 13px solid black;
	border-right: 26px solid black;
	border-bottom: 26px solid black;
  border-left: 13px solid black;

}
#green-button {
	background-color: green;
	border-radius: 100% 0 0 0;
  border-top: 26px solid black;
  border-left: 26px solid black;
  border-right: 13px solid black;
  border-bottom: 13px solid black;
}
.color-button {
 min-height: inherit;
 min-width: inherit;
	height: 100%;
  width: 100%;
}
.bottom-button{
	border-bottom: 20px solid black;
}

#strict-LED {
	background-color: black;
	min-height: 30px;
	width:30px;
	border-radius: 30px;
}
#count-div {
	width: 60px;
	height: 30px;
	background-color: black;
	color: white;
	text-align: center;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#on-off-label {
	height: 26px;
	line-height: 39px;
}

[class^="col-"]{

	min-height: inherit;
	min-width: inherit;
	height: 100%;

}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{

  padding-right: 0px;
  padding-left: 0px;

}

.row-gutters{
	margin-left: 0px;
	margin-right: 0px;
}

.row {

  min-height: inherit;
	height: 50%;
  padding: 0;
	margin: 0;
}

#game {

	padding: 0;
	min-height: inherit;
	min-width: inherit;
	height: 100%;
	width: 100%;
	margin: 2% auto;
  overflow: hidden;
}

.container-fluid {
	min-width: inherit;
	min-height: inherit;
	height: 100%;

}
