body {
	background-color: white;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 300;
}

#red-button {
	background-color: red;
	border-radius: 0 100px 0 0;
	height: 100px;
	width: 100px;

}
#yellow-button {
	background-color: yellow;
	height: 100px;
	width: 100px;
	border-radius: 0 0 0 100px;
}
#blue-button {
	background-color: lightblue;
	height: 100px;
	width: 100px;
	border-radius: 0 0 100px 0;
}
#green-button {
	background-color: green;
	border-radius: 100px 0 0 0;
	height: 100px;
	width: 100px;
}
.color-button {
	min-height: 30px;
	border: 10px solid black;
}
#strict-LED {
	background-color: black;
	min-height: 30px;
	width:30px;
	border-radius: 30px;
}
#count-div {
	width: 60px;
	height: 30px;
	background-color: black;
	color: white;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#on-off-label {
	height: 26px;
	line-height: 39px;
}
